body {
    background-color: #ffffff;
    color: #55585c;
    font-size: 16px;
    padding-top: 55px;   
    padding-bottom: 60px;
}

.nav-item-color {
    color: white;
}

.header-img {
    height: 60vh;
    width: 100%;
    margin: auto;
    background-image: url('./images/cream_pixels_@2X.png');
    background-size: cover;
    background-position: center;
}

h2 {
    text-align: center;
}


hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
    margin-left: 5rem;
    border: 0;
    border-top: 3px solid rgb(255, 208, 0);
}


.table-style {
    background-color: #6b7177;
} 

#footer {
    background-color:rgb(24, 130, 138); 
    text-align: right;
    padding-right: 30px;
    list-style-type: none; 
    margin: 0%;
     
}

@media screen and (max-width: 576px) {
    body {
      margin: 5%;
    }}